/* latin */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v25/If2RXTr6YS-zF4S-kcSWSVi_szLgiuEHiC4W.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Top left website title font */
nav > a[href="/"], nav > a[href="/zh-cn"], nav > a[href="/zh-cn/"] {
  font-family: 'JetBrains Mono', ui-monospace, monospace;
}

/* Homepage name font */
article img + h1:has(+ h2):lang(en) {
  font-family: "Dancing Script", system-ui, sans-serif;
  font-size: 3rem;
  line-height: 3.75rem;
}
article img + h1:has(+ h2):lang(zh-cn) {
  font-family: 'Noto Sans SC', 'Microsoft YaHei', 'SimSun', sans-serif;
  font-size: 4.75rem;
  line-height: 5.5rem;
}

/*
  Styles to override the default header behavior and ensure icons in the main menu
  are more evenly distributed.
*/
div.main-menu {
  column-gap: 1rem;
}

/*
  Border styles for images
*/
.border-4 {
  border-width: 4px;
}

@media (min-width: 660px) {
  .md\:border-8 {
    border-width: 8px;
  }
}

.border-fluid {
  border-width: clamp(4px, 1vw, 8px); /* ≥ 2 px, ≤ 8 px, scales in between */
}

.border-white {
  border-color: #fff;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
