{{- $src := .Get "src" }}
{{- $alt := .Get "alt" | default "" }}
{{- $style := .Get "style" }}
{{- $class := .Get "class" }}

{{ with .Page.Resources.GetMatch $src }}
<img
  {{ with $style }}style="{{ . }}"{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}
  {{ if not (in $class "nolazy") }}loading="lazy"{{ end }}
  srcset="
    {{ (.Fit "360x360 webp Lanczos").RelPermalink }} 360w,
    {{ (.Fit "720x720 webp Lanczos").RelPermalink }} 720w,
    {{ (.Fit "1080x1080 webp Lanczos").RelPermalink }} 1080w,
    {{ (.Fit "1440x1440 webp Lanczos").RelPermalink }} 2x"
  src="{{ (.Process "webp").RelPermalink }}"
  data-zoom-src="{{ (.Process "webp").RelPermalink }}"
  alt="{{ $alt }}"
/>
{{ end }}
