{{- $src := .Get "src" }}
{{- $alt := .Get "alt" | default "" }}
{{- $style := .Get "style" }}
{{- $class := .Get "class" }}

{{ with .Page.Resources.GetMatch $src }}
<img
  {{ with $style }}style="{{ . }}"{{ end }}
  {{ with $class }}class="{{ . }}"{{ end }}
  loading="lazy"
  srcset="
    {{ (.Resize "330x webp Lanczos").RelPermalink }} 330w,
    {{ (.Resize "660x webp Lanczos").RelPermalink }} 660w,
    {{ (.Resize "1024x webp Lanczos").RelPermalink }} 1024w,
    {{ (.Resize "1320x webp Lanczos").RelPermalink }} 2x"
  src="{{ (.Resize "660x webp Lanczos").RelPermalink }}"
  alt="{{ $alt }}"
/>
{{ end }}
